*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@font-face {
  font-family: norseBold;
  src: url(./assets/Norsebold.otf);
}
.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: grey
}
.left {
 background-image: url("./assets/unsplash.jpg");
 background-position: center;
 background-size: cover;
 width: 650px;
 color: #fff;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.logo {
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  margin: 200px 0;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  font-family: norseBold;
  font-size: 6rem;
}
.logo img {
  width: 100px;
}
.credit {
  text-align: center;
  margin-bottom: 10px;
}
.right {
  width: 900px;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.description {
  background-color: #F7F7F7;
  padding: 140px 170px 40px 40px;
}
.description p {
  font-size: 1.5rem;
  margin: 20px 0;
  
}
.inputs {
  padding: 20px 40px;
  box-shadow: 0 5px 5px rgb(0, 0, 0, .2);
}
.form-container {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
  margin: 20px 60px 0 0;
}
.form-row {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
input[type='text'], 
input[type='email'],
input[type='password'] {
  background-color: #FFFFFF;
  border: 1px solid #E5E7EB;
  border-radius: 3px;
  width: 300px;
  padding: 7px;
  font-size: 1rem;
}
input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus {
  border: 1px solid #1f53ff;
  box-shadow: 5px 5px 2px rgb(0, 0, 0, .2);
}
.form-label {
  margin-bottom: 2px;
  font-size: 0.8rem;
}
h2 {
  font-weight: normal;
  font-size: 1.5rem;
}